<div style="width: 100%; height: 200px;">
  <div>
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small">
          <nb-card-header>
            <span>Thống kê phòng</span>
          </nb-card-header>
          <div style="margin-top: 20px">
              <div class="col-md-3 statitic">
                <div style="width:40%;float: left;">
                  <i class="fa fa-home" style="font-size:60px; color: rgb(112, 194, 231)"></i>
                </div>
                <div style="font-size:40px; color: rgb(112, 194, 231); float: right; width: 60%">3</div>
                <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">Khu</div>
              </div>
              <div class="col-md-3 statitic">
                  <div style="width:40%;float: left;">
                    <i class="fa fa-door-open" style="font-size:60px; color: orange"></i>
                  </div>
                  <div style="font-size:40px; color: orange; float: right; width: 60%">300</div>
                  <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">Phòng</div>
                </div>
                <div class="col-md-3 statitic">
                    <div style="width:40%;float: left;">
                      <i class="fa fa-user-graduate" style="font-size:60px; color: rgb(127, 170, 62)"></i>
                    </div>
                    <div style="font-size:40px; color: rgb(127, 170, 62); float: right; width: 60%">400</div>
                    <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">Sinh viên</div>
                  </div>
            </div>
        </nb-card>
      </nb-card-front>
    </nb-reveal-card>
  </div>
</div>

<div style="width: 47%; height: 200px; float: left; margin-top: 15px">
  <div>
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small">
          <nb-card-header>
            <span>Theo dõi đóng phí nội trú</span>
            <span style="color: orange">  HK I (2018-2019)</span>
          </nb-card-header>
          <div style="margin-top: 20px">

            <div class="col-md-5 chart text-center">
              <div style="width:40%;float: left; margin-top: 16%;">
                <i class="fa fa-circle" style="font-size:60px; color: rgb(112, 194, 231)"></i>
              </div>
              <div style="font-size:20px; color: rgb(112, 194, 231); float: right; width: 60%; margin-top: 16%;">SL chưa đóng phí</div>
              <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">100</div>
            </div>

            <div class="col-md-5 chart text-center">
                <div style="width:40%;float: left; margin-top: 16%;">
                  <i class="fa fa-circle" style="font-size:60px; color: orange"></i>
                </div>
                <div style="font-size:20px; color: orange; float: right; width: 60%; margin-top: 16%;">SL đã đóng phí</div>
                <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">200</div>
              </div>
          </div>
        </nb-card>
      </nb-card-front>  
    </nb-reveal-card>
  </div>
</div>

<div style="width: 47%; height: 200px; float: right; margin-top: 15px">
  <div>
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small">
          <nb-card-header>
            <span>Theo dõi đóng phí điện nước</span>
            <span style="color: orange">  Tháng 9/2019</span>
          </nb-card-header>
          <div style="margin-top: 20px">

            <div class="col-md-5 chart text-center">
              <div style="width:40%;float: left; margin-top: 16%;">
                <i class="fa fa-circle" style="font-size:60px; color: rgb(112, 194, 231)"></i>
              </div>
              <div style="font-size:20px; color: rgb(112, 194, 231); float: right; width: 60%; margin-top: 16%;">SL chưa đóng phí</div>
              <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">100</div>
            </div>

            <div class="col-md-5 chart text-center">
                <div style="width:40%;float: left; margin-top: 16%;">
                  <i class="fa fa-circle" style="font-size:60px; color: orange"></i>
                </div>
                <div style="font-size:20px; color: orange; float: right; width: 60%; margin-top: 16%;">SL đã đóng phí</div>
                <div style="font-size:15px; color: black; float: right; width: 60%; margin-top: 10px">200</div>
              </div>
          </div>
        </nb-card>
      </nb-card-front>
    </nb-reveal-card>
  </div>
</div>

<div style="width: 100%; height: 200px; margin-top: 15px; float: left;">
  <div>
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small">
          <nb-card-header>
            <span>Thống kê thông tin sinh viên</span>
          </nb-card-header>
          <div style="margin-top: 20px">
              
            </div>
        </nb-card>
      </nb-card-front>
    </nb-reveal-card>
  </div>
</div>